<div layout="column">
  <h1 class="text-center">InstotS</h1>
  <md-content layout="column">
    <form novalidate>
    <md-input-container>
      <label>Title</label>
      <input ng-model="newPost.title" type="text" required>
    </md-input-container>
    <md-input-container>
      <label>Message</label>
      <textarea ng-model="newPost.content" columns="1" md-maxlength="150" required></textarea>
    </md-input-container>
      <md-button class="md-raised md-primary" aria-label="Post" ng-click="post()">Post</md-button>
    </form>
  </md-content>

  <md-content layout="column" layout-fill style="padding-bottom: 32px;">
    <md-whiteframe class="md-whiteframe-z2" ng-repeat="post in posts" layout layout-aling="center center">
      <div layout="column">
        <h4>{{post.title}}</h4>
        <p>{{post.content}}</p>
      </div>
    </md-whiteframe>
  </md-content>



    <!--<div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Share to world!</h3>
      </div>
      <div class="panel-body">

      </div>
    </div>-->

</div>
